/*Styles index site*/
.HeaderDiv{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}

a:link, a:visited{
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family:sans-serif;
    font-size: 25px;
    display: block;
}
#recipes{
    text-align: left;
    font-size: 16px;
}
p{
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;

}
.avatar.picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
}
body{
    background-color:#272727;
    color: white;
}
.image_and_textbox{
    border: 2px solid #444444;
    display: block;
    block-size: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 30px;
    background-color: #444444;
}
*{
    border: 2px red;
}